.App {
  text-align: center;
}

body {
  background: slategray;
  padding: 2em;
}

.title {
  text-align: center;
}

.user-profile {
  margin: auto;
  width: 30em;
  height: 15em;
}

.user-profile  #name {
  margin-top: -4.40em;
  margin-left: 6em;
  font-size: 1.53em;
}

.description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 3em;
  width: 18em;
  color: black;
}

#username, #email, #city, #phone{
  display: inline-block;
  color: #282c34;
  font-size: .87em;
  font-weight: bold;
}

button {
  margin: 3em auto;
  height: 2em;
  background: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

button:hover {
  background: slategray;
}
